
@import "compass/css3";

@import "compass/reset";
@import "compass/css3";

$green: #6a9094;
$border: darken($green, 10%);
/*
body{
	background-color: #EDEAE3;
	padding-top:40px;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
}*/
* {
  @include box-sizing(border-box);
}
#wrapper {
  width: 680px;
  margin: 0 auto;
}

.card-drop {
  max-width: 300px;
  position: relative;
  margin: 0 auto;
  @include perspective(800px);
  a {
    display: block;
    width: 100%;
    background-color: salmon;
    padding: 20px 0 20px 20px;
    height: 60px;
    text-decoration: none;
    color: darken($green, 30%);
    background-color: $green;
    border-bottom: 1px solid $border;
    @include transition(all 0.3s ease-out);
    i {
      display: inline-block;
      width: 20px;
    }
  }
  > a.toggle {
    position: relative;
    z-index: 300;
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    @include transform-origin(50%, 0%);
    @include transition(0.1s linear);
    background-color: lighten($green, 8%);
    &:active {
      @include rotateX(60deg);
    }
    &.active {
      &:before {
        content: "\f0d8";
      }
    }

    &:before {
      font-family: "FontAwesome";
      content: "\f0d7";
      font-size: 1.3em;
      color: darken($green, 20%);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      position: absolute;
      right: 0;
      top: 0;
      height: 59px;
      line-height: 60px;
      width: 60px;
      text-align: center;
      display: block;
      border-left: 1px solid $border;
    }
  }
  ul {
    position: absolute;
    height: 100%;
    top: 0;
    display: block;
    width: 100%;
    li {
      margin: 0 auto;
      @include transition(all, 0.3s ease-out);
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      a:hover {
        background-color: lighten($green, 5%);
        color: lighten($green, 44%);
      }
      &.active {
        a {
          color: lighten($green, 20%);
          background-color: darken($green, 5%);
          cursor: default;
        }
      }
      &.closed {
        a:hover {
          cursor: default;
          background-color: $green;
        }
      }
    }
  }
}
